body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
}

:root {
    --primary: #3841e4;
    --secondary: #8f94fb;
    --dark: #13141a;
    --light: #f8f9fa;
    --accent: #491fbd;
    --glow: 0px 0px 30px rgba(91, 17, 151, 0.753);
}

.navbar {
    background-color: var(--secondary);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.nav-link {
    color: var(--dark);
    font-weight: 550;
    font-size: 1.2rem;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 20%;
    width: 0;
    height: 3px;
    transition: 0.3s ease;
    background: linear-gradient(90deg, var(--accent), var(--secondary));
}

.nav-link:hover::before {
    width: 100%;
}

.btn {
    background-color: var(--primary);
    border: 1px solid var(--accent);
    color: var(--light);
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--accent);
    border: 1px solid var(--secondary);
    box-shadow: var(--glow);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 550;
}

.hero__content {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.hero__content .buttons {
    justify-content: center;
}

.hero__content h1 {
    font-size: 2.5rem;
    color: var(--light);
    font-weight: 700;
}

.hero__content p {
    font-size: 1rem;
    color: var(--light);
}

.img img {
    width: 100%;
    max-width: 60%;
    animation: floating 2s infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (width > 768px) {

    .navbar-brand {
        font-size: 1.7rem;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .hero__content {
        text-align: left;
    }

    .hero__content .buttons {
        justify-content: flex-start;
    }

    .btn {
        padding: .5rem 1rem;
    }
}